<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=remindersbot;AccountKey=8hKj4JChzkvJg9WDmr/A9bJ6jO/R6r859kwvXuBi6E0lqsMuB8IgIKtKQVPOEltod7+9PZLA3Ci0lZ1cjkBp4w==" />
  </appSettings>

</configuration>